a.ms-c-button {
    background: #fdd772;
    display: block;
    color: black;
    font-family: arial;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    font-size: .9rem;
}

h2.ms-u-blog-subtitle {
    font-size: 35px;
}


p.ms-u-p--intro {
    font-size: 20px;
    line-height: 45px;
}

.ms-u-text-color--grey-dark {
    color: #60514e;
}
.ms-u-text-color--terracotta {
    color: #e47458;
}
.ms-u-text-color--terracotta-light {
    color: #f3f1ec;
}
.ms-u-text-color--manhattan {
    color: #f2be9f;
}
.ms-u-text-color--rajah {
    color: #f8af5e;
}
.ms-u-text-color--aqua {
    color: #b1dcdf;
}
.ms-u-text-color--green-yellow {
    color: #b5d27b;
}
.ms-u-text-color--golden {
    color: #fdd772;
}
.ms-u-text-color--solitaire {
    color: #fef7e4;
}
.ms-u-text-color--banana {
    color: #fcecbb;
}
.ms-u-text-color--brown {
    color: #897449;
}
.ms-u-text-color--blue-light {
    color: #eff8f9;
}
